//-------- DIMENSIONS -------
$navbar-height: 6rem;

//-------- COLORS -------
$primary-color: #f59022;
$background-color: #464646;

//-------- BREAKPOINTS -------
$desktop: 768px;

:export {
  desktop: $desktop;
}
