@use "styles/variables.module";

.button {
  border-radius: .75rem;
  border: 2px solid variables.$primary-color;
  padding: .5rem 1rem;
  color: variables.$primary-color;
  text-decoration: none;
  transition: .2s ease-in-out;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    background-color: variables.$primary-color;
  }
}
