@use "styles/variables.module";
@use "styles/mixins.module";

.heroBanner {
  width: 100%;
  position: relative;
  min-height: 400px;
  display: flex;
  justify-content: center;

  @include mixins.from-desktop {
    min-height: 600px;
  }

  &::after {
    content: '';
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.fullHeight {
    height: calc(100% + #{variables.$navbar-height});
    margin-top: -#{variables.$navbar-height};
  }
}

.contentWrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.title {
  text-transform: uppercase;
}
